@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Smoke!</h1>
    <p><a href="https://docs.microsoft.com/aspnet/core">Tobacco Free Smoke</a></p>
    <img src="https://scontent.faep4-1.fna.fbcdn.net/v/t31.0-8/965170_10201265446824058_275266759_o.jpg?_nc_cat=105&_nc_sid=174925&_nc_ohc=y7GfoiNg12UAX-8imt_&_nc_ht=scontent.faep4-1.fna&oh=53ee64466ecc1af1485884e37b75feb8&oe=5F23E7BF">
</div>
